/CsomInspector/CsomInspector.Core/bin
/CsomInspector/CsomInspector.Core/obj
/CsomInspector/CsomInspector.Fiddler/bin
/CsomInspector/CsomInspector.Fiddler/obj
/CsomInspector/.vs
*.user
/CsomInspector/packages